html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  float: left;
}

/*  공통 CSS */

/*가운데 정렬*/
.ibx {
  width: 1200px;
  margin: 0 auto;
}

.pbx {
  float: left;
  height: 100%;
  padding: 10px;
  box-sizing: border-box; /*영역의 box size에 맞춰 정렬*/
  /* 박스가 패딩때문에 커지는 것을 막아줌 */
}

/* =========== A header ============= */
.top {
  position: relative;
  height: 100px;
  z-index: 999; /*가장 위로 배치*/
}

.top1 {
  width: 200px;
}

.top2 {
  width: 1000px;
}

/* 로고 */
.logo {
  margin-left: -10px;
}

/* 헤더 메뉴 */
.gnb {
  width: 800px;
  height: 50px;
  background-color: rgb(117, 188, 255);
  margin-top: 40px;
  margin-left: 190px;
}

/* .gnb가상요소로 메뉴 100%(1200px) 배경 만들기 */
.gnb::before {
  content: "";
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  /* 나의 부모는? .gnb가 부모여서 안됨 */
  width: 100%;
  height: 0; /* 170px - .gnb에 마우스 오버시 크기 */
  background-color: rgba(218, 238, 255, 0.9);
  transition: height 0.4s; /*서브메뉴 ol과 동일한 트랜지션 */
}

/* header {
  border: 1px solid black;
} */

.gnb li {
  position: relative;
  width: 200px;
  /* border: 1px solid black; */
}

.gnb a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

/* 서브 메뉴 */
.gnb ol {
  height: 0;
  overflow: hidden; /*영역을 벗어난 곳만 숨겨줌*/
  /*visibility: hidden;*/ /*원래 영역을 지키면서 숨겨줌*/
}

.gnb:hover ol,
.gnb:hover::before {
  height: 170px;
}

.gnb ol a {
  font-size: 16px;
  line-height: 40px;
}

/*하이라이트 설정*/
/*메인, 서브 메뉴*/
.gnb li:hover a {
  color: #fff;
}

/*서브 메뉴*/
.gnb ol li:hover a {
  background-color: rgb(0, 54, 233);
}

/*============ 슬라이딩 =============*/
.ban {
  height: 300px;
  overflow: hidden;
}

.slide {
  position: relative;
  top: 0;
}

/*////////////////////////////////////////////
//공지사항 및 갤러리 */

.cont > .pbx {
  width: 400px;
  /* background-color: yellow; */
}

/* 탭 메뉴 */
.tm {
  width: 200px;
  height: 40px;
  background-color: yellow;
}

.tm li a {
  display: block;
  width: 100px;
  text-align: center;
  line-height: 40px;
  background-color: rgb(94, 169, 255);
}

.tm li.on a {
  background-color: #fff;
}
/* 탭 내용 */
.tc {
  height: 138px;
  background-color: #fff;
}

.tc > li {
  width: 100%;
  height: 100%;
  display: none;
}

.tc > li.on {
  display: block;
}

/* 공지사항 리스트 */
.gong {
  padding-top: 9px;
  padding-left: 7px;
}

.gong li {
  line-height: 24px;
  /* border: 1px solid black; */
}

.gong a {
  display: inline-block;
  width: 270px;
  white-space: nowrap; /*자동 줄바꿈 방지*/
  overflow: hidden; /*벗어난 요소들 감추기*/
  text-overflow: ellipsis; /*벗어난 text를 ...으로 처리해서 보여줌 */
}

.gong span {
  float: right;
  padding-right: 5px;
}

/* 갤러리 리스트*/
.gal li {
  margin: 18px 12px;
}

.gal img {
  width: 100px;
  border: 1px solid #777;
}

/* 배너 및 바로가기 이미지 */
.im {
  width: 100%;
  height: 100%;
}

/* ============================= */
/* Footer */
.info1 {
  width: 200px;
}

.info2 {
  width: 800px;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
}

.info3 {
  width: 200px;
  text-align: center;
  line-height: 107px;
}

/* ///////////////// */
/* 팝업창 */
.pop {
  position: fixed;
  top: 30%;
  left: 50%;

  width: 350px;
  padding: 15px;
  z-index: 999;
  background-color: rgb(186, 217, 64);
  border: 3px solid #888;
}
.bbx {
  text-align: right;
}
